body {
    background-color: #1b2132;
    color: white;
}
h5 {
    text-align: center;
}

.desc {
   display: flex;
   
   justify-content: center;
}

.re {
    display: flex;
    flex-flow: column;
}
.re2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.select:isse {
    background-color: #1b2132;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
}

.card2 {
    display: flex;
    flex-flow: row;
}

.card {
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #1b2132;
    color: white;
    border-color: white;
}

.doubleButton {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.buttonSize1 {
    width: 5em;
    height: 2.5em;
}

.buttonSize2 {
    
    width: 5em;
    height: 2.5em;
}